<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{respuesta.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{respuesta.list.headline}]]</h1>
                <div>
                    <a th:href="@{/respuestas/add}" class="btn btn-primary ms-2">[[#{respuesta.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${respuestas.empty}">[[#{respuesta.list.empty}]]</div>
            <div th:if="${!respuestas.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{respuesta.id.label}]]</th>
                            <th scope="col">[[#{respuesta.tipo.label}]]</th>
                            <th scope="col">[[#{respuesta.tiempoRespuesta.label}]]</th>
                            <th scope="col">[[#{respuesta.accionesTomadas.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="respuesta : ${respuestas}">
                            <td>[[${respuesta.id}]]</td>
                            <td>[[${respuesta.tipo}]]</td>
                            <td>[[${respuesta.tiempoRespuesta}]]</td>
                            <td>[[${respuesta.accionesTomadas}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/respuestas/edit/{id}(id=${respuesta.id})}" class="btn btn-sm btn-secondary">[[#{respuesta.list.edit}]]</a>
                                    <form th:action="@{/respuestas/delete/{id}(id=${respuesta.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{respuesta.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
